@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;

}
:root{
    --cor00: #344C27;
    --cor01: #778F43;
    --cor02: rgba(0, 0, 0, 0.5);
    --cor03: #FFFFFF;
    --cor04: #849C48;
    --cor05: rgba(0, 0, 0, 0.445);
    --fontePrincipal: 'Inter';
}

/* cabeçalho definido em todas as páginas */
.cabecalho-parte-3{
    background-color: #344C27;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* icone cabeçalho */
.icone-header{
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: var(--cor03);
    margin: 0 20px 0 20px;
}


/* menu de opções fixo */
.menu-fixo{
    position: fixed;
    top: 85%;
    left: 8%;
    width: 326px;
    height: 76px;
    display: flex;
    align-items: center;
    background-color: var(--cor01);
    justify-content: space-evenly;
    border: 1px solid var(--cor00);
}